body {
    background-color: #000000;
}

p {
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p a {
    color: red;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.astuce {
    border-width:3px;
    border-style:solid;
    border-color:white;
}
input[type=button] {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: linear-gradient(to bottom, #ffffff, #f1f1f1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input[type=button]:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #bababa);
  background-image: -moz-linear-gradient(top, #ffffff, #bababa);
  background-image: -ms-linear-gradient(top, #ffffff, #bababa);
  background-image: -o-linear-gradient(top, #ffffff, #bababa);
  background-image: linear-gradient(to bottom, #ffffff, #bababa);
  text-decoration: none;
}

.aligncenter {
    display: block;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .social-menu ul {
    display: flex;
    margin-top: 200px;
    margin-left: 40%;
    margin-right: 40%;
    width: 50%;
  }
  
  .social-menu ul li {
    list-style: none;
    margin: 0 25px;
  }
  
  .social-menu ul li .fab {
    font-size: 30px;
    line-height:60px;
    transition: .2s;
    color: #000;
  }
  
  .social-menu ul li .far {
    font-size: 30px;
    line-height:60px;
    transition: .2s;
    color: #000;
  }
  
  .social-menu ul li .fab:hover {
    color: #fff;
  } 
  
  .social-menu ul li .far:hover {
    color: #fff;  
  } 
  
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #fff;
    text-align: center;
    transition: .2s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
  }
  
  .social-menu ul li a:hover {
    transform: translate(0, -10px);
  }
  
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
  }
  
  .social-menu ul li:nth-child(2) a:hover {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,      #bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #461010;
  }
  
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
  }
  
  .social-menu ul li:nth-child(5) a:hover {
    background-color: #fe5000;
  }